<div class="login">
  <h2>Login</h2>
  <form [formGroup]="loginSchema">

    <div class="form-group">
      <mat-form-field>
        <mat-label>E-mail</mat-label>
        <input matInput type="email" id="email" name="email" formControlName="email">
      </mat-form-field>
    </div>

    <div class="form-group">
      <mat-form-field>
        <mat-label>Senha</mat-label>
        <input matInput type="password" id="senha" name="senha" formControlName="senha"/>
      </mat-form-field>
    </div>

    <div class="button-row">
      <button mat-flat-button (click)="onSubimit()">Entrar</button>
    </div>

    <div>
      <p><a href="/cadastro">Cadastre-se</a></p>
    </div>
  </form>
</div>
