  <div>
    <h1>Serviços Disponíveis</h1>
    <div >
      <h3>Assentar tijolos, ladrilhos e alvenarias:</h3>
      <img src="assets/imagens/tijolos.jpg" alt="tijolos"   />
      <p (click)="detalhes(1)" style="cursor: pointer;" style="cursor: pointer;">Faça já seu orçamento.</p>
    </div>
    <div>
      <h3>Construir alicerces, paredes, muros, tetos, pisos:</h3>
      <img src="assets/imagens/alicerce.jpg" alt="alicerce"/>
      <p (click)="detalhes(2)" style="cursor: pointer;">Faça já seu orçamento.</p>
    </div>
    <div>
      <h3>Rebocar estruturas construídas:</h3>
      <img src="assets/imagens/reboco.jpg"alt="reboco" />
      <p (click)="detalhes(3)" style="cursor: pointer;">Faça já seu orçamento.</p>
    </div>
    <div>
      <h3>Construção de casas:</h3>
      <img src="assets/imagens/construcao.jpg" alt="construcao" />
      <p (click)="detalhes(4)" style="cursor: pointer;">Faça já seu orçamento.</p>
    </div>
    <div></div>
  </div>

<!--
  <div>
    <h1>Serviços Disponíveis</h1>
    <div>
      <h3>Assentar tijolos, ladrilhos e alvenarias:</h3>
      <img src="assets/imagens/tijolos.jpg" alt="tijolos" />
      <p
        (click)="detalhes(1)"
        style="cursor: pointer;">Faça já seu orçamento.</p>
    </div>
    <div>
      <h3>Construir alicerces, paredes, muros, tetos, pisos:</h3>
      <img src="assets/imagens/alicerce.jpg" alt="alicerce" />
      <p
        (click)="detalhes(2)"
        style="cursor: pointer;">Faça já seu orçamento.</p>
    </div>
    <div>
      <h3>Rebocar estruturas construídas:</h3>
      <img src="assets/imagens/reboco.jpg" alt="reboco" />
      <p
        (click)="detalhes(3)"
        style="cursor: pointer;">Faça já seu orçamento.</p>
    </div>
    <div>
      <h3>Construção de casas:</h3>
      <img src="assets/imagens/construcao.jpg" alt="construcao" />
      <p
        (click)="detalhes(4)"
        style="cursor: pointer;">Faça já seu orçamento.</p>
    </div>
  </div> -->
